.ui-page-login,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: #fff;
}
a{text-decoration: none !important;color: inherit;}
a:hover{color: inherit;}
img{width: 100%;}
.right{float: right;}
.container{
	max-width: 1920px;
}
.login{
	padding-top: 50px;
	background: url(../images/bg1.png);
	height: 100%;
}
.login .login-logo{
	width: 120px;
	margin: auto;
}
.login .login-box .box-one{
	text-align: center;
	margin: 20px 0;
}
.login .login-box .box-one h5 a{
	padding: 0 20px;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	text-decoration: none;
}
.login .login-box .box-one h5 a:hover{
	color: #2594D2;
}
.login .login-box .box-two{
	color: #fff;
	font-size: 14px;
	padding-bottom: 20px;
}
.login .login-box .box-two form .form-group input{
	background: url(../images/icon1.png) no-repeat ;
	padding-left: 35px;
	border-color:#fff ;
}
.login .login-box .box-two form .form-group2 input{
	background: url(../images/icon2.png) no-repeat ;
	padding-left: 35px;
}
.login .login-box .box-two form .forget_password{
	float: right;
} 
.login .login-box .box-two form button{
	margin: 20px 0;
	letter-spacing: 2px;
	border-radius: 0;
	border:none
}
.login .login-box .box-two .registered_a{
	text-align: center;
}
.login .login-box .box-two .registered_a a{margin: 0 5px;color: #58A9E1;}
.project {
    margin: 30px 0;
}
.project .pro_top {
    background: #1c8ecf none repeat scroll 0 0;
    padding: 10px;
}
.project .pro_top h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 0;
}
.pro_box .project .pro_btn .pro_btn_ul{
	padding:10px 10px;
	list-style: none;
}
.pro_box .project .pro_btn .pro_btn_ul .pro_btn_li .pro_btn_table{
	display: none;
}
.pro_box .project .pro_btn .pro_btn_ul .pro_btn_li .pro_btn_table tr {
	border: 1px solid #ededed;
	border-right: none;
	border-left: none;
}
.pro_box .project .pro_btn .pro_btn_ul .pro_btn_li .pro_btn_table tr th{
 	color: #848484;
    font-weight: 500;
    padding: 10px 0 !important;
    text-align: center;
    width: 33.3%;
}
.pro_box .project .pro_btn .pro_btn_ul .pro_btn_li .pro_btn_table tr td{
	padding: 10px 0;
	text-align: center;
	color: #848484;
}
.pro_box .project .pro_btn .pro_btn_ul .pro_btn_li .pro_btn_title{
	border:1px solid #ededed;
	border-right: none;
	border-left: none;
	padding: 10px 0;
}
.pro_box .project .pro_btn .pro_btn_ul .pro_btn_li .pro_btn_title i{
	background: #acacac none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    width: 30px;
    cursor: pointer;
}.pro_box .project .pro_btn .pro_btn_ul .pro_btn_li .pro_btn_title i:hover{
	background: #1C8ECF none repeat scroll 0 0;
}
.pro_box .project .pro_btn .pro_btn_ul .pro_btn_li .pro_btn_title span{
	font-size: 18px;padding: 0 5px
}
.pro_box .project .pro_btn .pro_btn_ul .pro_btn_li .pro_btn_title #pro_title{
	display: inline-block
}
.mui-content{
	margin: 20px 0;
}
.mui-content > button{
	margin:5px 0
}
.mui-content .save{
	color: #878787;
}
.mui-content .app_input{width:auto;}
.mui-content-padded > button{
	margin: 5px 0
}
.right_logo{
	width: 100px;
	margin: auto;
	
}
.right_logo img{
	width: 100%;
}
.right-content{padding: 15px 0;color: #248BC5;background: #333333;}
.right-text{text-align: center;}
.mui-table-view  .right-li{
	padding: 20px ;
	cursor: pointer;
}
.mui-table-view  .right-li:hover{
}
